.bg-light{
    background-image: url('https://media.istockphoto.com/id/1329715338/es/vector/los-puntos-y-las-l%C3%ADneas-penetran-hacia-arriba-a-trav%C3%A9s-de-la-tecnolog%C3%ADa-de-red-de.jpg?s=1024x1024&w=is&k=20&c=YYUDf-gs-ma4nWfzYlnDf_rU-8zm0FF-DVOB_IkiBUw=');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}