body {
  font-family: "Kanit", sans-serif;
  background-color: #a3bad4;
  padding-top: 80px;
}

.main {
  min-height: calc(100vh - 160px);
}

/* Tarjeta de producto */
.card {
  background-color: #415A77;
  border-radius: 10px;
  border-width: 2px;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
  filter: brightness(1.03);
}

.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: contain;
  background-color: #FFF;
}

.card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Título y precio */
.card-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #FFF;
}

.card-text {
  margin-bottom: 0.5rem;
  color: #FFF;
}

.card-text.fw-bold {
  font-size: 1rem;
  color: #FFF;
}

.btn {
  background-color: #0D1B2A;
  color: #FFFFFF;
  border: 1px solid #FFF
}

.btn:hover {
  color: #0D1B2A;
  background-color: #FFFFFF;
  border: 1px solid #0D1B2A
}